TestProjekt/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5017/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Bevaegelser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dato" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Temperatur" type="xs:decimal" />
      <xs:element minOccurs="0" name="Tidspunkt" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bevaegelser" nillable="true" type="tns:Bevaegelser" />
  <xs:complexType name="ArrayOfBevaegelser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bevaegelser" nillable="true" type="tns:Bevaegelser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBevaegelser" nillable="true" type="tns:ArrayOfBevaegelser" />
</xs:schema>